
body {
  position: relative;
  padding: 0;
  margin: 0;
  background: 0;
  background-color: var(--background);
  color: var(--foreground);
  
  background-size: cover;
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  a, a:visited, a:active {
    text-decoration: none;
    color: var(--accent);
  }
}
