@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);

@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic);




$maxWidth: 1200px;

body {
  position: relative;
  padding: 0;
  margin: 0;
  background: 0;
  background-color: var(--background);
  color: var(--foreground);
  
  background-size: cover;
}

* {
  box-sizing: border-box;
  a, a:visited, a:active {
    text-decoration: none;
    color: var(--accent);
  }
  a {
    & i{
      color: var(--foreground);
    }
  }
  *:focus {
    outline: none;
  }
  
}